body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;

    background:
            radial-gradient(circle at 15% 20%, rgba(0, 246, 255, 0.5), transparent 60%),
            radial-gradient(circle at 85% 80%, rgba(138, 46, 255, 0.5), transparent 100%),
            linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent 100%);
}
