.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    padding: 20px 40px;

    /*background: rgba(0, 0, 0, 0.45);*/
    /*border: 1px solid rgba(0, 246, 255, 0.15);*/
    /*border-radius: 14px;*/
    /*backdrop-filter: blur(12px);*/

    /*box-shadow:*/
    /*        0 0 20px rgba(0, 246, 255, 0.08),*/
    /*        inset 0 0 20px rgba(0, 246, 255, 0.05);*/

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    color: var(--color-neon-cyan);
    text-shadow: var(--glow-cyan);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Состояния */
.loading,
.error {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.loading {
    color: var(--color-text-secondary);
}

.error {
    color: #ff4d4d;
    border: 1px solid rgba(255, 77, 77, 0.4);
    background: rgba(255, 0, 0, 0.05);
    border-radius: 10px;
}
