services:
  dev:
    image: mcr.microsoft.com/devcontainers/typescript-node:24
    environment:
      - VITE_API_HOST=backend
      - VITE_API_PORT=8177
    volumes:
      - ..:/workspaces/wg-mgr-react:cached
    command: sleep infinity

  backend:
    image: ghcr.io/aleqsonder/wg-mgr-spring:latest
    depends_on:
      - db
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - WGMGR_DB_CONN_STR=postgresql://db:5432/vpn
  
  db:
    image: postgres:16
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB=vpn
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./modules/wg-mgr-spring/initdb.d:/docker-entrypoint-initdb.d

  db-adminer:
    image: adminer
    ports:
      - 8080:8080

volumes:
  pgdata:
