
.appWrapper {
  min-height: 100vh;
  background: transparent; /* ← ВАЖНО */
  display: flex;
  flex-direction: column;
}



.content {
  padding: 40px 60px;
  max-width: 1200px;
  width: 100%;
  margin: 40px auto 0 auto;

  background: rgba(10, 10, 10, 0.6);
  border: 1px solid rgba(0, 246, 255, 0.15);
  box-shadow: 0 0 25px rgba(0, 246, 255, 0.08);
  border-radius: 12px;
  backdrop-filter: blur(10px);
}

